.vscode/
deprecated/
node_modules/
dist/
.DS_Store
src/Views/panyidong/data/*
!src/Views/panyidong/data/index.ts
src/Views/hanshuiceng/data/*
!src/Views/hanshuiceng/data/index.ts
src/Views/saltCave/data/*
!src/Views/saltCave/data/index.ts

graphify-out/*
!graphify-out/graph.html
!graphify-out/GRAPH_REPORT.md
!graphify-out/graph.json
src/Views/graphify-out/

*.pdf