@import url('../assets/iconfont/iconfont.css');
@font-face {
  font-family: 'DS-Digital';
  src: url('../assets/fonts/DS-DIGI.TTF') format('truetype');
}

@font-face {
  font-family: 'Alimama ShuHeiTi';
  src: url('../assets/fonts/AlimamaShuHeiTi-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'YouSheBiaoTiHei';
  src: url('../assets/fonts/YouSheBiaoTiHei.ttf') format('truetype');
}

@font-face {
  font-family: 'Alibaba PuHuiTi';
  src: url('../assets/fonts/Alibaba-PuHuiTi-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Impact';
  src: url('../assets/fonts/impact.ttf') format('opentype');
}

html,
body {
  height: 100%;
  font-family: 'Alibaba PuHuiTi', Arial, Helvetica, 'SFMono-Regular', Consolas, 'Liberation Mono',
  Menlo, Courier, monospace;
}

#app {
  width: 100%;
  height: 100vh;
  color: white;
  background-color: #000;
}

div {
  box-sizing: border-box;
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

.border-container {
  width: 100%;
  background: rgba(14, 30, 49, 0.8);
  border-top: 2px solid #50c0ff;
  border-bottom: 2px solid #50c0ff;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 0;
}

.ant-collapse .ant-collapse-content > .ant-collapse-content-box {
  padding: 0;
}

.t-collapse-panel-head {
  font-family: YouSheBiaoTiHei;
  font-size: 24px;
  letter-spacing: 3.2px;
  background: linear-gradient(180deg, #eff7ff 13.05%, #93deff 84.37%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
}

.t-collapse-panel-head:before,
.t-collapse-panel-head:after {
  content: ' ';
  display: inline-block;
  width: 11.728px;
  height: 8.485px;
  background: url('../assets/svgs/point.svg');
}
.t-collapse-panel-head:before {
  margin-right: 8px;
}
.t-collapse-panel-head:after {
  margin-left: 8px;
}

.ant-modal .ant-modal-content {
  background-color: rgba(3, 25, 51, 0.95) !important;
  box-shadow: 0 0 20px 0 rgba(27, 144, 151, 0.75) inset;
  border: 2px solid #17c7fe;
}

.ant-modal .ant-modal-header {
  background-color: transparent;
  border-bottom: none;
  padding: 16px 20px;
}
.ant-modal .ant-modal-title {
  color: #17c7fe;
  font-family: YouSheBiaoTiHei;
  font-size: 24px;
  letter-spacing: 1.32px;
}
.ant-modal .ant-modal-content {
  background-color: transparent;
}

.ant-modal .ant-modal-body {
  padding: 0 20px 20px;
}

iframe {
  border: none;
  outline: none;
}


.custom-table {
  .ant-tabs-nav::before {
    border-bottom: 1px solid rgba(27, 90, 151, 0.52) !important;
  }
  .ant-tabs-nav {
    margin-bottom: 0 !important;
  }

  .ant-table ::before {
    display: none;
  }

  .ant-table-thead th {
    border: 0 !important;
    border-right: 1px solid rgba(27, 90, 151, 0.52) !important;
  }

  .ant-table-tbody > tr > td {
    border: 0 !important;
    border-right: 1px solid rgba(27, 90, 151, 0.52) !important;
  }

  .ant-table-tbody > tr > td:last-child {
    border-right: none !important;
  }

  .ant-table-tbody > tr:nth-child(odd) {
    background-color: transparent;
  }

  .ant-table-tbody > tr:nth-child(even) {
    background-color: #1a293b;
  }
}

.table-striped td {
  background-color: rgba(128, 128, 128, 0.1);
}

.ant-popover .ant-popover-inner {
  background-color: rgba(3, 25, 51, 0.7);
  border: 1px solid #17c7fe;
}

.ant-popover .ant-popover-arrow::after {
  background-color: rgba(3, 25, 51, 0.7);
  border: 1px solid #17c7fe;
  z-index: 3;
}
