.layout-content-left,
.layout-content-right {
  width: 474px;
  height: 100%;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  z-index: 20;
  .content-container {
    background: rgba(14, 30, 49, 0.8);
    border-top: 2px solid #50c0ff;
    border-bottom: 2px solid #50c0ff;
    height: 980px;
    overflow: scroll;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
  }
}
.layout-content-left {
  left: 0;
  padding-left: 20px;
  background: linear-gradient(
    to left,
    rgba(1, 10, 16, 0),
    rgba(1, 9, 14, 0.6) 50%,
    rgba(0, 6, 10, 0.8)
  );
}
.layout-content-right {
  right: -1px;
  padding-right: 20px;
  background: linear-gradient(
    to right,
    rgba(1, 10, 16, 0),
    rgba(1, 9, 14, 0.6) 50%,
    rgba(0, 6, 10, 0.8)
  );
}
